<div class = "usercontainer"> 
  <div class = "createuser"> 
    <h1> Create a New Account</h1> 

    <div class = "creation_error_message">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error|  %>
        <%= error %>
      <% end %>
    <% end %>
    </div>

    <%= form_for @user, controller: 'users', action: 'create' do |f| %>
      <div>
        <div><%= f.label "Username:" %>
        <%= f.text_field :name, :class => "nuser" %> </div>

        <div> <%= f.label "Password:" %>
        <%= f.password_field :password, :class => "newpassword" %> </div>

        <div> <%= f.label "Confirm Password:" %>
        <%= f.password_field :password_confirmation, :class => "passwordconfirmation" %> </div>
      </div>
      <div class = "userbuttonparent"> <%= f.submit "Create", :class => "createbutton" %> 
    <% end %>
      <%= link_to "Return", login_path, :class => "backbutton" %>
      </div>
  </div>
</div>



