<div class = "usercontainer"> 
  <div class = "createuser"> 
    <h1> Create a New Account</h1> 
    <%= form_for @user, controller: 'users', action: 'create' do |f| %>
      <div>
        <div><%= f.label "Username:" %>
        <%= f.text_field :name, :class => "newuser" %> </div>

        <div> <%= f.label "Password:" %>
        <%= f.password_field :password, :class => "newpassword" %> </div>

        <div> <%= f.label "Confirm Password:" %>
        <%= f.password_field :password_confirmation, :class => "passwordconfirmation" %> </div>
      </div>
      <div> <%= f.submit "create", :class => "createbutton" %> </div>
    <% end %>
  </div>
</div>



