<% require 'pry' %>
<h1>Public Playlists </h1>

<div class="signupcont">
  <% if !current_user %>
    <div class = "homebuttons">
    <li> <%= link_to "Create an Account", new_user_path, :class => "newuser" %></li>
    <li> <%= link_to "Sign in", login_path, :class => "usersignin" %></li>
    </div>
  <% end %>
</div>
<br>
<% p1 = @playlist %>
<% p2 = @playlist_two %>

  <div class="hello-flex-container">
    <div class="flex-item">
      <% @playlist = @playlist.random_playlist -%>
      <label>Random playlist:</label>
      <%= render "playlists/playlist_container", playlist: @playlist, class: 'flex-item'%>
    </div>
    <div class="flex-item">
      <% @playlist = @playlist.most_liked -%>
      <label>Playlist with the most likes: (<%= @playlist.likes %> likes)</label>
      <%= render 'playlists/playlist_container', playlist: @plyalist, class: 'flex-item' %>
    </div>
    <div class="flex-item">
      <% @playlist = @playlist.most_songs -%>
      <label>Playlist with the most songs: (<%= @playlist.songs.count %> songs)</label>
      <%= render 'playlists/playlist_container', playlist: @plyalist %>
    </div>

  </div>


<!--
<%= button_to "View All Playlists", playlists_path, method: "get" %>
<%= button_to "View All Songs", songs_path, method: "get" %>
<%= button_to "View All Users", users_path, method: "get" %>
-->
