<h1>Playlist Name:<%= @playlist.name %></h1>
<h2>Created by: <%= @playlist.creator.name %></h2>

<h3>Songs:</h3>
<ul>
  <% @playlist.songs.each do |song| %>
    <p><%= song.title %></p>
    <% end %>
</ul>

<h2>This playlist is shared with:</h2>

<ul>
  <% @playlist.listeners.each do |listener| %>
    <li><%= link_to listener.name, listener %></li>
  <% end %>
</ul>

<p>This playlist is private: <%= @playlist.private %></p>

<%= button_to "edit playlist", edit_playlist_path(@playlist), method: "get" %> <%= button_to "share playlist", share_path(@playlist), method: "get" %>
<p><%= link_to "back", playlists_path %></p>
<p><%= button_to "Delete Playlist", @playlist, method: :delete, data: { confirm: "Really?" } %></p>
