
<div class="pbuttonparent">
  <% if @playlist.private == true || @playlist.creator_id == session[:user_id] %>
    <%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: "get", :class => "editplaylist"  %>
    <%= button_to "Share Playlist", share_path(@playlist), method: "get", :class => "shareplaylist" %>
  <% end %>
    <% if @playlist.creator_id == session[:user_id] %>
  <%= button_to "Delete Playlist", @playlist, method: :delete, data: { confirm: "Really?" }, :class => "deleteplaylist" %>
    <% end %>
</div>


  <h2 align="center">Created by: <%= link_to @playlist.creator.name, user_path(@playlist.creator) %></h2>
  </div>
  <div class="center-playlist-container">
    <%= render 'show', model: @playlist %>
  </div>
  <div class="filler"></div>
