<h1>Playlist Name: <%= @playlist.name %></h1>

<div class="pbuttonparent">
  <% if @playlist.private == true || @playlist.creator_id == session[:user_id] %>
    <%= button_to "Edit Playlist", edit_playlist_path(@playlist), method: "get", :class => "editplaylist"  %>
    <%= button_to "Share Playlist", share_path(@playlist), method: "get", :class => "shareplaylist" %>
  <% end %>
    <% if @playlist.creator_id == session[:user_id] %>
  <%= button_to "Delete Playlist", @playlist, method: :delete, data: { confirm: "Really?" }, :class => "deleteplaylist" %>
    <% end %>
</div>

<h2>Created by: <%= @playlist.creator.name %></h2>

<h3>Songs:</h3>
<ul>
  <% @playlist.songs.each do |song| %>
    <p><%= song.title %></p>
    <iframe src="https://open.spotify.com/embed/track/<%= song.spotify_id %>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% end %>
</ul>
<br>
<h2>Likes: <%= @playlist.likes %></h2>
<br>
<%= button_to "like" , like_path(@playlist)%>
<br>
<h2>This playlist is shared with:</h2>
<br>
<ul>
  <% @playlist.listeners.each do |listener| %>
    <li><%= link_to listener.name, listener %></li>
  <% end %>
</ul>
<br>

<%= @playlist.public_display %>

<div class="filler"></div>
