<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= form_with url: logout_path, method: "delete" do |f| %>
        <%= f.submit "Log out #{current_user.name}" %>
      <% end %>
    <% else %>
      <%= link_to "sign in", login_path %>
    <% end %>

    <%= yield %>

  </body>
</html>
