<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Genesis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>

  <header>
    <nav>
      <ul class="navbar">
          <div class="logo"><%= link_to "Genesis Mixtaper", root_path %></div>
          <i class="fas fa-atom fa-2x fa-spin"></i>
          <% if current_user %>
          <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
          <li><%= link_to current_user.name, current_user %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class="navbar-b">
    <% if current_user %>
    <li> <%= link_to "View All Playlists", playlists_path, method: "get" %></li>
    <% end %>
    <a href= '/'> <i class="fas fa-home fa-2x"></i></a>
  </div>


  <%= yield %>

<div class="filler"></div>

  </body>
</html>
